@model Vidlys.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@Html.ValidationSummary(true, "Please fix the following errors.")
@using (Html.BeginForm("Save", "Movies"))
{

    <div class="form-group">
        @Html.LabelFor(m=>m.Name)
        @Html.TextBoxFor(m=>m.Name, new {@class = "form-control"})
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Release)
        @Html.TextBoxFor(m => m.Release, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Release)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genre, "GenreId", "GenreName"), "Select", new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

<button type="submit" class="btn btn-primary">Save</button>



}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}